{{!-- display post details --}}
<div class="post">
    <div class="title">
        <h2>
            <a href="/post/{{post.id}}" class="post-title">{{post.title}}</a>
        </h2>
        <p>{{format_date post.date_created}}</p>
    </div>
    <div class="post-body">
        <p>{{post.body}}</p>
    </div>
    <div class="btn-box">
        <button type="button" class="edit-post-button" data-id="{{post.id}}">Edit this post</button>
        <button type="button" class="delete-post-button" data-id="{{post.id}}">Delete this post</button>
    </div>
</div>

<script src="/js/postEdit.js"></script>