{{!-- display posts --}}
<div class="post-box">
  <div>
    <h2><a href="/post/{{id}}" class="title">{{post.title}}</a></h2>
    <p class="details">Posted by: {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="post-body">
    <p>{{post.body}}</p>
  </div>
</div>